.about {
    background: #ffd700;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }
  .about img {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
  }
 .info {
    position: relative;
    width: 22vw;
    margin: 1vw;
    font-size: 1rem;
    transition: all  1s ease 0.3s;
    opacity: 0;
  } 

 .info p {
    position: relative;
    padding-top: 15px;
    text-align: center;
  }
