.about {
    background: #ffd700;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }
  .about img {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
  }
 .info {
    position: relative;
    width: fit-content;
    margin: 0 20px 0 20px;
    font-size: 1rem;
    transition: all  0.7s ease 0.3s;
    opacity: 0;
  } 

 .info p {
    position: relative;
    padding-top: 15px;
    text-align: center;
  }

  @media screen and (max-width: 850px){
    .about {
      flex-wrap: wrap;
    }
    .info.fadeup {
      bottom: 0;
      left: -50px;
    }
    .info.fadedown {
      top:0;
      right: -50px;
    }
    .info.show--fadeup {
      left: 0 !important; 
      opacity: 1 !important;
    }
    
    .info.show--fadedown{
      right: 0 !important;
      opacity: 1 !important;
    }
  }
