.products {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 61vw;
}
.obraz img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 85%;
  object-position: center;
}

.pre-title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.kafelki {
  width: 15vw;
  min-width: 180px;
  min-height: 250px;
  height: 20vw;
  margin: 25px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border-radius: 7%;
  overflow: hidden;
  transition: 
    transform 0.3s ease-in-out,
    top 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
  position: relative;
  z-index: 1;
  opacity: 0;
}
.kafelki:hover {
  cursor: pointer;
  z-index: 2;
  transform: scale(1.2);
}
.kafelki .hover {
  background-size: 100%;
  transition: all 0.5s ease;
  background-position: center;
}
.kafelki:hover .hover {
  background-size: 130%;
}
.wysokosc {
  height: 85%;
  pointer-events: none;
}
.tekst_pod_obrazem {
  text-decoration: none;
  color: black;
  pointer-events: none;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  min-height: 35px;
  z-index: 1;
}
.tekst_pod_obrazem p {
  height: 100%;
  position: relative;
  pointer-events: none;
  text-align: center;
  font-size: 1.5rem;
}
button {
  background-color: rgba(240, 248, 255, 0);
}
.vave2 {
  position: relative;
  top: -1px;
  transform: rotate(180deg);
}
